:root{
    --color-orange: #ff6e56;
    --color-purple: #2a0050;
    --color-light: #ffffff;
    --color-dark: #000000;
}

body{
    font-family: "Anek Tamil", sans-serif;
    font-weight: 200px;
    color: var(--color-light);
    letter-spacing: 2px;
    margin: auto;
}

.nav-link{
    margin-left: 2px;
}

.btn-primary{
    background-color: var(--color-orange);
    font-size: 15px;
    margin-left: 9.0625rem;
    margin-top: 20px;
}
.container{
    margin-right: -37.5rem;
    padding: 4.375rem;
}
#puntoReferencia:hover{
    background: #4a51db;
    border-radius: 5px;
    text-shadow: 1px 1px 8px #00ff73;
}

#first{
    background: linear-gradient(112.07deg, #323576 7.5%, #9400DA 109.15%);
}

#second{
    background: var(--color-light);
}

#imgCubos{
    display: block;
    margin: 28.125rem;
    margin-bottom: 12.5rem;
}

#titulo_2{
    text-align: center;
    margin-top: 6.25rem;
}

#imgCuboMorado{
    width: 50%;
    margin-top: -25rem;
    margin-left: -18.75rem;
}

#imgCuboNaranja{
    width: 50%;
    margin-top: -25rem;
    margin-left: 6.25rem;
}

.anuncio{
    color: var(--color-purple);
    margin-left: 10rem;
}

#textoDescripcion{
    text-align: right;
    margin-right: 47.5rem;
    margin-top: -5rem;
}

#checkbox_blue {
    color: blue;
    display: block;
    margin: 3.75rem;
    margin-left: 46.875rem;
    margin-bottom: 10px;
}

.parrafo_check{
    margin: 3.75rem;
}

#parrafo_1{
    margin-left: 50rem;
    margin-top: -11.4375rem;
}

#parrafo_2{
    margin-left: 50rem;
    margin-top: -5px;
}

#parrafo_3{
    margin-left: 50rem;
    margin-top: -10px;
}

.divisionGrupo{
    position: absolute;
    width: 5.375rem;
    height: 0px;
    left: 52.5rem;
    top: 38.75rem;
    border: 3px solid #FF6E56;
}

#divisionSegunda{
    position: absolute;
    width: 5.375rem;
    height: 0rem;
    left: 10rem;
    top: 92.5rem;
    border: 3px solid #FF6E56;
}

.final2{
    text-align: center;
    margin-top: 6.25rem;
    margin-left: -6.25rem;
}

.final2 h2{
    color: var(--color-dark);
    font-size: medium;
    margin-left: 31.25rem;
}

#fondo3{
    margin: auto;
    width: 100%;
    margin-top: 12.5rem;
}

#divisionTercera{
    position: absolute;
    width: 5.375rem;
    height: 0rem;
    left: 56.25rem;
    top: 150rem;
    border: 3px solid #FF6E56;
}

.titulo_4{
    color: var(--color-purple);
    text-align: center;
    margin-top: -53.125rem;
}

#subTitulo_4{
    text-align: center;
    color: var(--color-dark);
    margin-top: 4.375rem;
}

.parrafo_4{
    color: var(--color-dark);
    margin: 1.25rem;
}

#parrafo_4_1{
    text-align: justify;
    width: 25rem;
    margin-left: 9.375rem;
    margin-top: 18.125rem;
}

#parrafo_4_2 {
    text-align: justify;
    width: 25rem;
    margin-left: 50rem;
    margin-top: -7.5rem;
}

#parrafo_4_3 {
    text-align: justify;
    width: 25rem;
    margin-left: 87.5rem;
    margin-top: -7.5rem;
}

.logo{
    width: 2%;
    display: inline-block;
}

#logoCaracol{
    margin-top: 5.625rem;
    margin-left: 9.375rem;
}

#logoFinanciera{
    margin-top: 5.625rem;
    margin-left: 38.125rem;
}

#logoTrebol {
    margin-top: 5.625rem;
    margin-left: 35rem;
}

#logoWhatsapp {
    width: 3%;
    margin-top: -110.625rem;
    margin-left: 112.5rem;
}

#tituloCaracol{
    margin-top: -4.375rem; 
    margin-left: 13.75rem;
}

#parrafoCaracol{
    color: var(--color-dark);
    font-size: small;
    margin-left: 13.75rem;
    margin-top: -1.0625rem;
}

#tituloFinanciera {
    margin-top: -3.125rem;
    margin-left: 55rem;
}

#parrafoFinanciera {
    color: var(--color-dark);
    font-size: small;
    margin-left: 55rem;
    margin-top: -1.0625rem;
}

#tituloTrebol {
    margin-top: -3.875rem;
    margin-left: 92.5rem;
}

#parrafoTrebol {
    color: var(--color-dark);
    font-size: small;
    margin-left: 92.5rem;
    margin-top: -1.0625rem;
}

#divisionCuarta {
    position: absolute;
    width: 5.375rem;
    height: 0rem;
    left: 56.25rem;
    top: 218.75rem;
    border: 0.1875rem solid #FF6E56;
}

#titulo_4{
    text-align: center;
    margin-top: 25rem;
}

#parrafoFourth{
    color: var(--color-dark);
    text-align: center;
    font-size: larger;
    margin-top: 6.25rem;
}

.indicativos{
    color: #40DB9D;
    font-size: 4.375rem;
}

#primerIndicativo{
    margin-top: 8.75rem;
    margin-left: 22.5rem;
}

#segundoIndicativo {
    margin-top: -6.25rem;
    margin-left: 54.375rem;
}

#tercerIndicativo {
    margin-top: -6.25rem;
    margin-left: 84.375rem;
}

.parrafoIndicativo{
    color: var(--color-dark);
    text-align: center;
    font-size: larger;
    margin-top: 6.25rem;
}

#parrafoIndicativo_1{
    text-align: justify;
    width: 25rem;
    margin-left: 15.625rem;
    margin-top: 5.625rem;
}

#parrafoIndicativo_2 {
    text-align: justify;
    width: 25rem;
    margin-left: 46.875rem;
    margin-top: -6.25rem;
}


#parrafoIndicativo_3 {
    text-align: justify;
    width: 25rem;
    margin-left: 78.125rem;
    margin-top: -6.25rem;
}

#titulo_5 {
    text-align: center;
    margin-top: 18.75rem;
}

#parrafo_5 {
    color: var(--color-dark);
    text-align: center;
    font-size: larger;
    margin-top: 6.25rem;
}

.rectangulo{
    width: 21.875rem;
    height: 18.75rem;
}

#rectangulo_1{
    background-color: #eee;
    margin-top: 6.25rem;
    margin-left: 28.125rem;
    position: relative;
}

#rectangulo_1::after{
    position: absolute;
    bottom: 0px;
    left: 0px;
    content: " ";
    background: linear-gradient(169.74deg, rgba(24, 0, 205, 0.8) -38.15%, rgba(218, 0, 150, 0.8) 232.78%);
    width: 100%;
    height: 10%;
    filter: blur(12px);/*para desenfocar*/
    z-index: -1;
}

#rectangulo_2 {
    background: linear-gradient(169.74deg, rgba(24, 0, 205, 0.8) -38.15%, rgba(218, 0, 150, 0.8) 232.78%);;
    margin-left: 59.375rem;
    margin-top: -18.75rem;
    position: relative;
    z-index: -1;
}

#divisionQuinta {
    position: absolute;
    width: 5rem;
    height: 0rem;
    left: 36.875rem;
    top: 293.75rem;
    border: 3px solid #FF6E56;
}

#divisionSexta {
    position: absolute;
    width: 5.375rem;
    height: 0rem;
    left: 67.5rem;
    top: 291.25rem;
    border: 3px solid #FF6E56;
}

.tituloRectangulo{
    color: var(--color-dark);
    font-size: 30px;
}
#tituloRectangulo_2{
    margin-left: 65rem;
    margin-top: -12.5rem;
}

#tituloRectangulo_1 {
    margin-left: 34.375rem;
    margin-top: -10rem;
    position: absolute;
    z-index: 5px;
}

#botonImagen_1{
    background: var(--color-purple);
    margin-left: 35.9375rem;
    margin-top: 3.75rem;
    position: absolute;
}

#parrafoRectangulo_2{
    text-align: center;
    margin: 6.25rem;
    width: 15.625rem;
    margin-left: 62.5rem;
    margin-top: -1px;
    font-size: 12px;
}

#botonImagen_2 {
    background: purple;
    margin-left: 66.875rem;
    margin-top: -4.375rem;
    position: absolute;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
}

/*Footer*/

footer{
    color: var(--color-dark); 
    margin: 20px;
}
#TituloFinal{
    margin-top: 12.5rem;
    margin-left: 12.5rem;
    position: absolute;
    width: 43.75rem;
    font-size: 1.875rem;
}

#botonImagen_3{
    background: rgb(255, 255, 255);
    margin-left: 1070px;
    margin-top: 12.1875rem;
    position: absolute;
    border: 1px solid #800080;
    box-sizing: border-box;
    border-radius: 5px;
    width: 31.25rem;
}
#footerFinal{
    width: 100%;
    position: absolute;
    margin: auto;
    margin-top: 37.5rem;
}

@media (max-width: 1200px) {
    body{
        font-size: 14px;
        width: 50%;
        padding: 50%;
        margin: auto;
    }
}

@media (max-width: 992px) {
    body{
        font-size: 10px;
        width: auto;
        padding: 50%;
        margin: auto;
    }
}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}