:root{
    --color-orange: #ff6e56;
    --color-purple: #2a0050;
    --color-light: #ffffff;
    --color-dark: #000000;
}

body{
    font-family: "Anek Tamil", sans-serif;
    font-weight: 200;
    color: var(--color-light);
    letter-spacing: 2px;
    margin: auto;
}

.nav-link{
    margin-left: 2px;
}

.btn-primary{
    background-color: var(--color-orange);
    font-size: 15px;
    margin-left: 145px;
    margin-top: 20px;
}
.container{

    margin-right: -600px;
    padding: 70px;
}

#first{
    background: linear-gradient(112.07deg, #323576 7.5%, #9400DA 109.15%);
}

#second{
    background: var(--color-light);
}

#imgCubos{
    display: block;
    margin: 450px;
    margin-bottom: 200px;
}

#titulo_2{
    text-align: center;
    margin-top: 100px;
}

#imgCuboMorado{
    width: 50%;
    margin-top: -400px;
    margin-left: -300px;
}

#imgCuboNaranja{
    width: 50%;
    margin-top: -400px;
    margin-left: 100px;
}

.anuncio{
    color: var(--color-purple);
    margin-left: 160px;
}

#textoDescripcion{
    text-align: right;
    margin-right: 760px;
    margin-top: -80px;
}

#checkbox_blue {
    color: blue;
    display: block;
    margin: 60px;
    margin-left: 750px;
    margin-bottom: 10px;
}

.parrafo_check{
    margin: 60px;
}

#parrafo_1{
    margin-left: 800px;
    margin-top: -183px;
}

#parrafo_2{
    margin-left: 800px;
    margin-top: -5px;
}

#parrafo_3{
    margin-left: 800px;
    margin-top: -10px;
}

.divisionGrupo{
    position: absolute;
    width: 86px;
    height: 0px;
    left: 840px;
    top: 620px;
    border: 3px solid #FF6E56;
}

#divisionSegunda{
    position: absolute;
    width: 86px;
    height: 0px;
    left: 160px;
    top: 1480px;
    border: 3px solid #FF6E56;
}

.final2{
    text-align: center;
    margin-top: 100px;
    margin-left: -100px;
}

.final2 h2{
    color: var(--color-dark);
    font-size: medium;
    margin-left: 500px;
}

#fondo3{
    margin: auto;
    width: 100%;
    margin-top: 200px;
}

#divisionTercera{
    position: absolute;
    width: 86px;
    height: 0px;
    left: 900px;
    top: 2400px;
    border: 3px solid #FF6E56;
}

.titulo_4{
    color: var(--color-purple);
    text-align: center;
    margin-top: -850px;
}

#subTitulo_4{
    text-align: center;
    color: var(--color-dark);
    margin-top: 70px;
}

.parrafo_4{
    color: var(--color-dark);
    margin: 20px;
}

#